{% extends 'base.html.twig' %}

{% block title %}Log in - Knowledge Learning{% endblock %}

{% block body %}
<div class="form-container">
    <form method="post">
        {% if error %}
            <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="form-group" style="text-align: center;">
                You are logged in as {{ app.user.userIdentifier }}<br>
                <a href="{{ path('app_logout') }}" style="color: #cd2c2e;">Logout</a>
            </div>
        {% endif %}

        <h2 style="text-align: center; color: #00497c; margin-bottom: 20px;">Please sign in</h2>

        <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group" style="text-align: center;">
            <button class="btn" type="submit">
                Sign in
            </button>
        </div>
        
        <div style="text-align: center; margin-top: 15px;">
            <a href="{{ path('app_register') }}">Don't have an account? Register here</a>
        </div>
    </form>
</div>
{% endblock %}
